@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
  overflow-y: auto;
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
  width: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #3e248b; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollbar::-webkit-scrollbar-track {
  background: #020617; /*스크롤바 뒷 배경 색상*/
}

.upAndDown {
  animation: upDownRotateSmooth 20s ease-in-out infinite;
}

@keyframes upDownRotateSmooth {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  10%, 90% {
    transform: translateY(-5px) rotate(-3deg);
  }
  20%, 80% {
    transform: translateY(-10px) rotate(3deg);
  }
  30%, 70% {
    transform: translateY(-5px) rotate(-2deg);
  }
  40%, 60% {
    transform: translateY(0) rotate(2deg);
  }
  50% {
    transform: translateY(5px) rotate(0deg);
  }
}
.custom-border {
  display: flex;
  flex-basis: 100%;
  align-items: center;
}
.custom-border::before,
.custom-border::after {
  content: '';
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
.custom-border::before {
  margin-right: 16px;
}
.custom-border::after {
  margin-left: 16px;
}
.ql-editor {
  background: #fff;
  min-height: 600px;
}
.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}
.button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%
    ),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%
    ),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}
.ellipsis {
  white-space: nowrap; /* 텍스트를 한 줄로 만듦 */
  overflow: hidden; /* 내용이 넘치면 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트는 ...으로 표시 */
}
.Toastify__toast-theme--dark {
  background-color: #020617;
  box-shadow: inset 0 0 12px #bf97ff70;
}
/* Chrome, Safari, Opera 등 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* IE, Edge */
.no-scrollbar {
  -ms-overflow-style: none;
}
.sideBar {
  animation: sideBar 0.3s ease-in-out;
}
@keyframes sideBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
