@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-border {
  display: flex;
  flex-basis: 100%;
  align-items: center;
}
.custom-border::before,
.custom-border::after {
  content: '';
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
.custom-border::before {
  margin-right: 16px;
}
.custom-border::after {
  margin-left: 16px;
}
.ql-editor {
  background: #fff;
  min-height: 600px;
}

.ellipsis {
  white-space: nowrap; /* 텍스트를 한 줄로 만듦 */
  overflow: hidden; /* 내용이 넘치면 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트는 ...으로 표시 */
}
